*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.main_page{
    position: relative;
    background: url(./assets/main_img1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.main_page > div > h1{
    display: flex;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 10px;
}
span{
    color: rgba(124, 24, 24, 0.767);
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    text-align: center;

    
}
.about > div > img{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.helo{
    padding-bottom: 10px;
    color: rgba(165, 42, 42, 0.911);
}
.about>div>h1{
    color: rgb(161, 35, 35);
}
.about>div>h3{
    color: rgba(165, 42, 42, 0.699);
}
.skills>h1{
    color: rgb(161, 35, 35);
}
.skills>div>img{
    width: 300px;
}
.skills{
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}
.skills>div{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.skills>div>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.skills>div>div>h2{
    color:rgba(165, 42, 42, 0.911) ;
}
.skills>div>div>h3{
    color: rgba(165, 42, 42, 0.699);
}
.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  
}
.contact>button{
    border-radius: 6px;
    width: 100px;
    padding: 6px;
    margin-left: 47%;
    background-color: rgb(161, 35, 35);
    color: white;
}
.contact>button:hover{
    background-color: white;
    color:rgb(161, 35, 35) ;
}
.contact>h1{
    color:rgb(161, 35, 35) ;
}
.contact>h2{
    color:rgba(165, 42, 42, 0.911)  ;
}
.contact>h3{
    color:rgba(165, 42, 42, 0.699) ;
}
.contact>div{
    background-color: rgba(165, 42, 42, 0.521);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color:rgb(161, 35, 35) ;
    text-decoration: none;
    padding: 20px;
}
a:hover{
    color: white;
}
@media (max-width:480px){
    .skills>div>img{
        width: 100px;

    }
}

